<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="com.flo.japhelper.MyApp"
        android:theme="@style/Theme.JapaneseNaturalnessCheck">

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="com.flo.japhelper.context.NaturalContextMenuAction"
            android:label="@string/process_text"
            android:enabled="true"
            android:targetActivity=".service.TextProcessActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>
        <activity
            android:name=".service.TextProcessActivity"
            android:label="@string/process_text"
            android:theme="@style/Theme.Transparent"
            android:exported="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            >

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

    </application>

</manifest>